.mat-card {
  margin-bottom: 16px;
  padding: 0;
}

mat-card-header {
  padding: 16px 16px 0 16px;
  color: mat-color($mat-primary, 900);
  border-bottom: 1px solid mat-color($mat-primary, 100);
  background: mat-color($mat-primary, 50);

  &:first-child {
    border-radius: 4px 4px 0 0;
  }

  .mat-card-header-text {
    flex: 1;
  }
}
