.mat-raised-button {
  font-size: 16px;

  &:active:not([disabled]) {
    margin-top: 2px;
    border: none;
  }
}

.mat-raised-button.mat-primary {
  border-bottom: 2px solid mat-color($mat-primary, 900);

  &[disabled] {
    border-bottom: 2px solid mat-color($mat-primary, 300);
  }
}

.mat-raised-button.mat-warn {
  border-bottom: 2px solid mat-color($mat-warn, 900);

  &[disabled] {
    border-bottom: 2px solid mat-color($mat-warn, 300);
  }
}

.mat-button-wrapper .mat-icon {
  margin-left: 4px;
}
