mat-checkbox {
  display: inline-flex;
  flex: 1;
}

.mat-checkbox-layout, .mat-checkbox-label {
  flex: 1;
}

.mat-checkbox-label > * {
  padding: 0.8em 1em 0.8em 1.2em;
  white-space: pre-wrap;
  word-break: break-word;
}

