<app-web-page>
  <app-web-page-header>
    <app-web-page-title>Connexion</app-web-page-title>
  </app-web-page-header>
  <app-web-page-content>
    <mat-card>
      <mat-card-content>
        <ng-container *ngIf="(userInfo)">
          <h1 i18n>You are already connected as {{ userInfo }}.</h1>
        </ng-container>
        <ng-container *ngIf="!(userInfo)">
            <div style="text-align: right;">
                <button mat-raised-button (click)="login()">Install App</button>
            </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </app-web-page-content>
</app-web-page>
