<app-web-page >
  <app-web-page-header>
    <app-web-page-title>
      Nouvelle recette
    </app-web-page-title>
    <app-web-page-subtitle>
      Ecriver votre nouvelle recette !
    </app-web-page-subtitle>
  </app-web-page-header>
  <app-web-page-content>

    <form (ngSubmit)="submit()" [formGroup]="recipeForm">
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input #titleInput formControlName="title" matInput maxlength="50" type="text">
        <mat-hint align="end">{{titleInput.value?.length || 0}}/50</mat-hint>
        <mat-error>Entrez un titre pour votre recette</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Instructions</mat-label>
        <textarea formControlName="instructions"
                  matInput
                  #autosize="cdkTextareaAutosize"
                  cdkTextareaAutosize
        ></textarea>
      </mat-form-field>
      <div class="button-container">
        <button color="primary" mat-raised-button type="submit">
          Créer
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>

  </app-web-page-content>
</app-web-page>
