


<app-web-page>
    <app-web-page-header>
        <app-web-page-title class="">
            Home
            <div style="text-align: right;">
                <button mat-raised-button *ngIf="pwaService" (click)="pwaService.installPwa()">Install App</button>
            </div>
        </app-web-page-title>
        <app-web-page-subtitle>
            Sub Title
        </app-web-page-subtitle>
    </app-web-page-header>
    <app-web-page-content>
        <ng-container>
            <div *ngIf="user">Welcome {{user.name}}!</div>
            <div *ngIf="!user">Login plz...</div>
        </ng-container>

        <!--<ng-container *ngFor="let recipe of recipeList">-->
            <!--<a [routerLink]="['/recipe/details', recipe.slug]" matRipple>-->
                <!--{{recipe.title}}-->
            <!--</a>-->
            <!--<br>-->
        <!--</ng-container>-->
    </app-web-page-content>
</app-web-page>
