<app-web-page>
  <app-web-page-header>
    <app-web-page-title>Unexpected Error</app-web-page-title>
  </app-web-page-header>
  <app-web-page-content>
    <h1>
      An unexpected error occurred, but don't worry :
    </h1>
    <p>
      If there is <b>one</b> chance in <b>a million</b> to make it work,<br>
      it is better to really fail in a hurry the first <b>999 999</b> times,<br>
      in order to ensure that the <b>one millionth</b> will work !<br>
    </p>
    <h2>
      In other word, the more it fail, the greater chances it will work.
    </h2>
    <!--
        <h1>
          Si il y a 1 chance sur 1 000 000 que ça fonctionne,
          il vaut mieux se dépécher de bien louper les 999 999 première fois
          pour être sur que la 1 000 000 réussisse !
        </h1>
        <h1>
          En d'autre termes, plus ça rate, plus on a de chance que ça réussisse !
        </h1>
    -->
    <img [src]="unexpectedImgUrl" style="max-height: 20em;">
  </app-web-page-content>
</app-web-page>
