<app-web-page>
  <app-web-page-header>
    <app-web-page-title>Unexpected Error</app-web-page-title>
  </app-web-page-header>
  <app-web-page-content>
    <h1>
      An unexpected error occurred, but don't worry :
    </h1>
    <p>
      If there is <b>one</b> chance in <b>a million</b> to make it work,<br>
      it is better to really fail in a hurry the first <b>999 999</b> times,<br>
      in order to ensure that the <b>one millionth</b> will work !<br>
    </p>
    <h2>
      In other word, the more it fail, the greater chances it will work.
    </h2>

    <object type="image/svg+xml" data="/assets/svg/cicrus-circle.svg" class="errorImg">
      Error Logo <!-- fallback image in CSS -->
    </object>
  </app-web-page-content>
</app-web-page>
